*.swp
__pycache__/
experiments/
miccai_experiments/
meshes/
misc/
to_check/
tmp/
*.pdf
.pylintrc
.idea
.vscode/
.mypy_cache/

vox2organ/scripts/long_eval/old_stuff
vox2organ/scripts/long_eval/batch_scripts
vox2organ/scripts/long_eval/evals
/sync_*.sh
.dir-locals.el
pyrightconfig.json
/requirements_jan*
